.Navbar {
    width: 100%;
    height: 60px;
    /* border: 1px solid black; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px 20px;
    background-color: white;

    /* position: sticky; */
    top: 0;
}

@media (max-width:478px) {
    .Navbar {
        padding: 0 5px;
    }
}

@media (max-width:478px) {
    .logodiv span {
        display: none !important;
    }
}

.logodiv {
    /* border: 1px solid black; */
    height: 100%;
    padding: 0px 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

@media (max-width:478px) {
    .logodiv span {
        display: none !important;
    }
}

.searchdiv {
    /* border: 1px solid black; */
    max-width: 660px;
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width:578px) {
    .searchdiv {
        display: none;
    }
}

/* @media (max-width:478px) {
    .searchdiv>span {
        display: none !important;
    }
} */

.searchdivleft {
    width: 92%;
    height: 100%;
    /* border: 1px solid black; */

    position: relative;

    display: flex;
    align-items: center;
}

/* @media (max-width:478px) {
    .searchdivleft{
        width: 100%;
    }
} */

.searchdiv input {
    width: calc(100% - 60px);
    height: 40px;
    border: 1px solid lightgray;
    border-right: none;
    border-radius: 50px 0px 0px 50px;
    padding-left: 10px;
}

/* @media (max-width:478px) {
    .searchdiv input {
        display: none;
    }
} */

.searchdiv input:focus,
textarea:focus {
    border: 1px solid dodgerblue;
    outline: none;
}


.searchdiv button {
    cursor: pointer;
    width: 60px;
    height: 40px;
    position: absolute;
    right: 0;
    background-color: rgb(248, 248, 248);
    border: 1px solid lightgray;
    border-radius: 0px 50px 50px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s ease;
}

/* 
@media (max-width:478px) {
    .searchdiv button  {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
    }
} */

.searchdiv button:hover {
    background-color: rgb(230, 228, 228);
}

.icons {
    cursor: pointer;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    /* border: 1px solid black; */
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
}


.icons:hover {
    background-color: rgb(231, 231, 231);
}


/* infodiv */

.infodiv {
    /* border: 1px solid black; */
    height: 100%;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media (max-width:478px) {
    .infodiv {
        gap: 5px;
    }
}

.mobilSearch {
    /* border: 1px solid black; */
    cursor: pointer;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (min-width:578px) {
    .mobilSearch {
        display: none !important;
    }
}